table{
    margin: 0 auto;
}
footer {
    
        background-color: black;
        height: 50%;
      color: white;
      padding: 15px;
    }
  
body{
    background-color: #ffffcc;
}
h2, h1{
    text-align: center;
}

.th{
    text-align: center;
}
.td{
    text-align: center;
}
p{
    text-align: center;
}
carousel-inner img {
    width: 50%;
    height: 50%;
  }
  carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease;
  }
  .carousel-item > iframe{
    top: 0;
    left: 0;
    min-width: 100%;
    height:32rem;
  }
  .carousel-item > img{
    top: 0;
    left: 0;
    height:32rem;
  }